
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<link href="~/Css/index.css" rel="stylesheet" />
<br />
<br />
<div class="w3-content w3-display-container">
    <div class="w3-display-container ">
        <img src="~/img/Ausgrid2.jpg" style="width:100%">
    </div>
</div>
